nav {
    width: 30%;
}

/* Sign-up form section */
.sign-in {
    padding: 3em;
}
.sign-in h1 {
    text-align: center;
}

.form {
    margin: 2em auto;
    padding: 2em;
    background-color: white;
    border: .5px solid #1D1C0C;
    border-radius: .5em;
    display: grid;
    grid-gap: 2em 4em;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
}

.form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
}

.form-item label {
    width: 40%;
    text-align: left;
    font-size: small;
}

.form-item input {
    width: 60%;
    border: .25px solid #1D1C0C;
}

.form-btn {
    font-family: 'Encode Sans Expanded', sans-serif;
}

.links {
    width: 110%;
    padding: 1.5em 0 0;
    display: flex;
    justify-content: space-between;
    font-size: small;
    text-align: left;
}

.link-back {
    width: 35%;
    text-decoration: none;
    color: #1D1C0C;
    font-weight: bold;
}

@media screen and (min-width: 750px) {
    .links {
        width: 100%;
    }

    .link-back:nth-child(2) {
        text-align: right;
    }

    .form {
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }

    .form-item label {
        width: 30%;
    }
}

@media screen and (min-width: 1100px) {
    .form {
        width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    .form {
        width: 70%;
    }

    .form-item input {
        width: 200px;
    }

    .links {
        padding: 2em 2.5em 0;
    }
}

@media screen and (min-width: 1400px) {
    .form {
        width: 800px;
    }
}