@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300;400;500;700;900&display=swap');

:root {
    --yellow: #F9FF12;
    --black: #1D1C0C;
    --white: #FCFAEA;
    --font-family: 'Encode Sans Expanded', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--white);
}

/* Header section */
header {
    background-color: var(--black);
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
}

#hamburger {
    width: 40px;
    height: 40px;
}

menu {
    width: 100%;
}

.logo,
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    margin: .5rem 0;
    font-size: x-large;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-btn,
.modal-btn,
.cancel-btn {
    cursor: pointer;
    border-radius: .25em;
    font-family: var(--font-family);
    font-weight: bold;
    padding: .5em 1.25em;
    font-size: medium;
}

.login-btn {
    background-color: var(--yellow);
    color: var(--black);
    border: .5px solid var(--black);
}

.buttons {
    border-color: var(--yellow);
}

.modal-btn,
.cancel-btn {
    margin-top: .25rem;
    background-color: var(--black);
    color: var(--white);
    border: .5px solid var(--white);
}

.logo img {
    width: 40px;
    height: 40px;
}

.yellow {
    color: var(--yellow);
}

.white {
    color: var(--white);
}

#overlay {
    display: none;
    position: absolute;
    width: 100vw;
    height: 200vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.login-form {
    margin: 30% auto;
    padding: 1em 2em;
    width: 80%;
    max-width: 500px;
    height: 350px;
    background-color: var(--white);
    border-radius: .5em;
}

.login-item {
    margin: .75rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.login-item label {
    width: 100%;
    display: block;
    text-align: left;
    font-weight: bold;
}

.login-form .login-btn,
.cancel-btn {
    margin-top: .25rem;
    font-size: small;
}

.close-login {
    margin-top: 3rem;
}

.close-login a {
    margin-top: .5rem;
    display: block;
    font-size: small;
}

/* Search section */
.search,
.car-ads {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2rem 1rem;
}

.search h1,
.car-ads h1 {
    text-align: center;
    font-size: xx-large;
}

label,
select {
    margin: 0 auto .5em;
    text-align: center;
}

.search-text {
    margin: 2em auto 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#search-input {
    margin-right: .5em;
    width: 75%;
    border: 1px solid var(--black);
    border-radius: .2em;
}

/* Ads section */
.car-ads-grid {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: center;
}

.car-ad {
    margin: .5rem auto 1rem;
    width: 350px;
    border: .5px solid var(--black);
}

.car-desc {
    background-color: white;
    padding: .5em;
}

.car-ad img {
    display: block;
    max-width: 100%;
    width: 350px;
    height: 200px;
}

.car-name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car-name,
.car-price {
    margin: .25em 0;
}

.car-name {
    font-size: medium;
}

.car-price,
.car-details {
    font-size: small;
}

.car-details {
    text-align: right;
}

/* Guide section */
.guide {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
}

.guide img {
    width: 80px;
    height: 80px;
}

/* Footer section */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background-color: var(--black);
    color: var(--white);
}

footer .logo {
    justify-content: flex-start;
}

.contact,
.contact-section,
.contact-info {
    margin-top: .75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact a {
    margin: .75em 0;
    text-decoration: none;
    color: var(--white);
}

.contact .login-btn {
    color: var(--black);
}

footer p {
    margin-top: 2em;
    text-align: center;
}

@media screen and (min-width: 550px) {
    .guide {
        justify-content: space-between;
        padding: 2em 2.5em;
    }

    .guide-desc {
        width: 70%;
    }
}

@media screen and (min-width: 700px) {
    .search-text {
        width: 60%;
    }

    .guide {
        padding: 2.5em 3.5em;
    }

    .contact-sections {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .contact p {
        margin-top: 2em;
    }

    #hamburger {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    header,
    nav ul {
        flex-direction: row;
        justify-content: space-between;
    }

    header {
        padding: 2rem 2.5rem;
        justify-content: space-between;
    }

    nav ul li {
        font-size: large;
    }

    menu {
        width: 35%;
    }
    nav {
        width: 65%;
    }
}

@media screen and (min-width: 1000px) {
    .login-form {
        margin: 200px auto;
    }

    #overlay {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .guide {
        padding: 2em 4.5em;
    }

    .contact {
        width: 100%;
    }

    .contact,
    .contact-sections {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .contact-info {
        width: 30%;
    }

    .contact-sections {
        width: 67.5%;
        justify-content: space-around;
    }

    nav {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    header {
        padding: 1em 4em;
    }

    .search-text {
        width: 30%;
    }

    nav {
        width: 60%;
    }

    .buttons {
        width: 45%;
        flex-direction: row;
        justify-content: space-between;
    }

    .guide {
        justify-content: space-around;
        padding: 3em 6em;
    }

    .guide-desc {
        width: 50%;
    }

    .contact {
        width: 60%;
    }
}

@media screen and (min-width: 1400px) {
    nav {
        width: 50%;
    }

    .buttons {
        justify-content: space-around;
    }
}